body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f4f8;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    margin: 5px 0;
    padding: 5px;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
